<!-- HEADER -->
<header id="header">
    <div id="logo-group">
        <span id="logo">
            <img src="{{ asset("bundles/front/images/logo.png") }}" alt="English Summer Fun">
        </span>
    </div>

    <div class="pull-right">
        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span>
                <a href="{{ path('logout') }}" title="{{ 'login.logout' | trans }}" data-action="userLogout" data-logout-title=" {{ 'login.logout_question_smart' | trans({'%user%': app.user.username}) | raw }}" data-logout-msg=""><i class="fa fa-sign-out"></i></a>
            </span>
        </div>
        <!-- end logout button -->

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->
    </div>
</header>